@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  75% {
    transform: translate(1.4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  75% {
    transform: translate(-1.4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

@keyframes moveInBottom {
  /* for button*/
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  /*font-size: 18px;*/
  line-height: 1.65;
  /*1.65 times pre-defined line height */
  color: #cff1ef;
  background-color: #343a40;
  padding: 3.2rem;
  box-sizing: border-box;
}

.header-main {
  color: #a53b3b;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.header-main:hover {
  transform: scale(1.2);
  /*text gets bigger when hovered*/
}

.header-main--primary {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInleft 3s ease-out;
  /*caliing animation variable with  3s duration and ease-out*/
}

.header-main--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.8rem;
  animation: moveInright 3s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #d87878, #dd1717);
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: .2rem;
  color: transparent;
  transition: all .2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 25rem;
  transition: all 0.2s;
  position: relative;
  /* relative to btn::after*/
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.3rem);
  /*when hovered to the button, it goes up by 3px in Y direction*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #035aa6;
  color: #f0f0f0;
}

.btn--white::after {
  background-color: #035aa6;
}

.btn--blue {
  background-color: #035aa6;
  color: #f0f0f0;
}

.btn::after {
  background-color: #035aa6;
}

.btn::after {
  /* after the button is pressed*/
  content: "";
  display: inline-block;
  height: 100%;
  /*animation prpty of btn will be same as the btn height and width*/
  width: 100%;
  /*this is child of the btn*/
  border-radius: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* this is behind the button*/
  transition: all 0.4s;
}

.btn:hover::after {
  /*when btn is hovered in after pseudo class*/
  transform: scaleX(1.4) scaleY(1.6);
  /*scales 1.4 times the size of button in x-direction, so in case of y*/
  opacity: 0;
  /* should fade away in the end*/
}

.btn--animated {
  /*to move the button from bottom to it's original position*/
  animation: moveInBottom 0.5s ease-out 0.75s;
  /*0.75s is time to start animation after the heading animation starts*/
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #dd1717;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #dd1717;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #dd1717;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 58rem;
}

.card__side {
  height: 58rem;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .8s ease;
}

.card__side--front {
  background-color: #706c61;
}

.card__side--back {
  transform: rotateY(-180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card:hover .card__side--front {
  transform: rotateY(180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: soft-light;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/computer.jpg);
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/playstation5.jpg);
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/gaming-room.jpg);
}

.card__heading {
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 60%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}

.card__from {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
}

.card__price-only {
  text-align: center;
  margin-bottom: 8rem;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all .2s;
  outline-offset: 2rem;
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: -2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #dd1717;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(112, 108, 97, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #d87878, #dd1717);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #dd1717;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(245, 222, 179, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}

.story > * {
  transform: skewX(12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all .5s;
}

.story__text {
  transform: translateX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #eee;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.footer {
  background-color: wheat;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #706c61;
  margin-top: 15rem;
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

.footer__logo {
  width: 15rem;
  height: auto;
}

.footer__navigation {
  border-top: 1px solid #999;
  padding-top: 2rem;
  display: inline-block;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link:link, .footer__link:visited {
  color: #999;
  background-color: wheat;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all .2s;
}

.footer__link:hover, .footer__link:active {
  color: #dd1717;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.footer__copyright {
  border-top: 1px solid #999;
  padding-top: 2rem;
  width: 80%;
  float: right;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - 2*6rem)/3);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #cceabbb6, #99ac8fc5), url(../img/pc3.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 71vh, 0% 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

.header__logo {
  height: 6rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__logo-box:hover {
  transform: scale(1.2);
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  color: #343a40;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#d87878, #dd1717);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.57, -0.12, 0.34, 1.04);
}

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0%;
  transition: all .8s;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #d87878;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(70);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.2rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #343a40;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.section-about {
  background-color: #343a40;
  padding: 25rem 0;
  margin-top: -24vh;
}

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #cceabbb6, #99ac8fc5), url(../img/pc6.jpg);
  background-size: cover;
  transform: skewY(-7deg);
}

.section-feature > * {
  transform: skewY(7deg);
}

.section-build {
  background-color: #343a40;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  margin-top: 10rem;
  border-radius: 3px;
  background-image: linear-gradient(to right bottom, #d87878, #dd1717);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/gaming-room2.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
}

.book__form {
  width: 50%;
  padding: 6rem;
}
