.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, #cceabbb6, #99ac8fc5),
      url(../img/pc3.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 71vh, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 71vh, 0% 100%);
    position: relative;
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
      animation: fadeOut ease 8s;
      -webkit-animation: fadeOut ease 8s;
      -moz-animation: fadeOut ease 8s;
      -o-animation: fadeOut ease 8s;
      -ms-animation: fadeOut ease 8s;
    }
    &__logo {
      height: 6rem;
    }
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  
    &__logo-box:hover {
      transform: scale(1.2);
    }
}  